
h1 {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    
    

}
body {
  
    background-color: green;
 
    background-size: cover;
  }
  table { 
   margin: auto;
    background-color: green
    

  }
  td {
    width: 200px;
    height: 200px;
    vertical-align: center;
    border: 2px solid white;
    text-align: center;
    font-family: "permanent Marker" cursive;
  
    cursor: pointer;
  }

  .x {
    color: black;
    font-size: 100px;
  }

  .o {
    color:rgb(58, 90, 127);
    font-size: 100px;
  }

    
.win {
    background-color: aqua;
}
#restart {
    background-color: white;
    padding: 10px;
    margin-left: 735px;
}
#status {
  text-align: center;
  font-size: x-large;
}
.endgame {
  display:none;
  width: 200px;
  background-color: red;
}